html {
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

body {
    height: 100vh;
    background-image: linear-gradient(#071014, #203A43, #071014);
    color: white;
}

* {
    margin: 0;
}

hr {
    margin-bottom: 1vh;
    color: #00bdff;
}

h1 {
    padding: 1vh 0;
    font: bold 2.7em;
    color: #00bdff;
}

h2 {
    font: bold 2em;
    color: #05bbfa;
}

h3 {
    font-size: 1em;
}

a:hover {
    color: #01ffae;
    cursor: pointer;
}

#Header {
    padding: 15px 15px 15px 10%;
    background: black;
}

    #Header a {
        text-align: center;
        font-weight: bold;
        letter-spacing: 3px;
        color: #FFF;
        font-size: 1.2em;
        margin-right: 1.5vw;
        margin-top: 2vh;
    }

        #Header a:hover {
            transition: all 0.4s ease 0s;
            color: #01ffae;
            cursor: pointer;
        }

#Footer {
    width: 100%;
    padding: 10px 0 20px 0;
    margin-top: 5%;
    background: black;
}

    #Footer div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        padding: 10px;
    }

    #Footer p {
        padding: 3px 0 3px 0;
    }

    #Footer .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        #Footer .flex div {
            width: 380px;
        }

.page_content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #203A43;
    border-radius: 50px;
}

    .page_content .content_text{
        padding: 50px;
    }

        .page_content .content_text .flex p {
            font-size: 1.2em;
            line-height: 1.3em;
            font-family: Arial, sans-serif;
        }

    .page_content .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

        .page_content .flex div {
            width: 50%;
            padding: 1%;
        }

#gameCanvas {
    display: block;
    width: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background: black;
    border: 2px solid white;
    z-index: -1;
}

.flex_container {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 50px;
}

.flex_item {
    background-color: black;
    background-size: cover;
    width: 380px;
    height: 210px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.img_container {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}

    .item_overlay p {
        margin: 10px;
    }

.content:hover .item_overlay {
    opacity: 1;
    color: black;
    text-decoration: none;
    cursor: pointer;
}